 <html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<meta charset="UTF-8">
		<title>USER AUTH</title>
	
	</head>
 
	<body class="bg-grey-lighter">
		<div class="w-full max-w-md mx-auto my-8">
			{{ template "action" . }}
			<br><br>
			<p class="text-center text-grey text-xs" style="position: fixed; bottom:10">
				Evandro Pavei - Florianópolis/Brazil - 2020
			</p>
		</div>
	</body>
 </html>
 <style type="text/css">
	.error {
		color: red;
		font-size: small;
	}
</style>