{{define "action"}}

<h1 class="text-lg font-bold mb-4">LOGIN</h1>

<form method="post" action="/login" class="mb-4">
    <div class="mb-3">
        <label class="block text-grey-darker text-sm font-bold mb-2">
            Email
        </label>
        <input type="email" name="email" placeholder="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight" required>
        {{ with .Errors }}
        <p class="error">{{ .Email }}</p>
        {{ end }}   
    </div>
  
    <div class="mb-3">
        <label class="block text-grey-darker text-sm font-bold mb-2">
            Password
        </label>
    
        <input type="password" name="password" placeholder="password"  minlength="5" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" required>
        {{ with .Errors }}
        <p class="error">{{ .Password }}</p>
        {{ end }}
    </div>
    {{ with .Errors }}
    <div class="mb-3">
        <p class="error">{{ .Credentials }}</p>
    </div>
    {{ end }}
    
    <button class="bg-blue-600 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="submit">
        Login
    </button>
</form>

<div>
    <h2><a href="/login/google" class="underline">Sign in with Google</a></h2>
    <h2><a href="/signup" class="underline">Sign Up</a></h2>
    <h2><a href="/password/forgot" class="underline">Forgot password?</a></h2>
</div>

{{end}}
