{{define "action"}}

<h1 class="text-lg font-bold mb-4">SET NEW PASSWORD</h1>

{{ with .Errors }}
<div class="mb-3">
    <p class="error">{{ .Link }}</p>
</div>
{{ end }}

{{ with .Message }}
<div class="mb-3">
    <p class="success">{{ . }}</p>
</div>
{{ end }}

<form method="post" action="/password/new" class="mb-4">
    <input type="hidden" id="token" name="token">
    <div class="mb-3">
        <label class="block text-grey-darker text-sm font-bold mb-2">
            Password
        </label>
    
        <input type="password" name="password" placeholder="password"  minlength="5" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" required>
        {{ with .Errors }}
        <p class="error">{{ .Password }}</p>
        {{ end }}
    </div>
    
    <button class="bg-blue-600 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="submit">
        Save
    </button>
</form>

<div>
    <h2><a href="/login" class="underline">Login</a></h2>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function(event) {
        const urlParams = new URLSearchParams(window.location.search);
        const token = urlParams.get('token');
    

        if(token){
            document.getElementById("token").value = token;
        }
    });
    
</script>

{{end}}
