{{define "action"}}

<h1 class="text-lg font-bold mb-4">RESET PASSWORD</h1>

<form method="post" action="/resetpassword" class="mb-4">
    <div class="mb-3">
        <label class="block text-grey-darker text-sm font-bold mb-2">
            Email
        </label>
        <input type="email" name="email" placeholder="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight">
        {{ with .Errors }}
        <p class="error">{{ .Email }}</p>
        {{ end }}   
    </div>
    
    {{ with .Errors }}
    <div class="mb-3">
        <p class="error">{{ .Credentials }}</p>
    </div>
    {{ end }}
    
    <button class="bg-blue-600 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="submit">
        Recover
    </button>
</form>

{{end}}
